body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
}

h1,h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 40px;
}

        /*navbar
/*--------------------*/
.navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
}

.navbar-text {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar-text li{
    display: inline-block;
}

.navbar-text li a{
    padding: 1em;
    color: #adadad;
    text-decoration: none;
    display: block;
}

.navbar-text li a:hover {
    text-decoration: underline;
}
/*--------------------*/

.travelblog {
    font-size: 1em;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    letter-spacing: 2px;
}

.thegrid {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-auto-rows: minmax(20px, auto);
    overflow: hidden;
}

/*-----start of easiertravels-----*/
    /*smallboxes
/*--------------------*/
.greybox-big {
    background-color: #dddddd;
    grid-column: 1 / 17;
    grid-row: 1 / 30;
}

.black-textbox {
    background-color: #3b3b3b;
    grid-column: 12 / 19;
    grid-row: 8 / 24;
}

.black-textbox p, .black-textbox a {
    color: #f0e4d4;
    font-size: large;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 10px;
}

.black-textbox h2 {
    color:  #f0e4d4;
    font-size: 50px;
    padding: 10px;
    padding-left: 40px;
}

.small-grey-boxes {
    grid-column: 11 / 21;
    grid-row: 28 / 32;
    display: flex;
    margin: 0;
    padding: 0;  
}

.sm-box {
    background-color: #808080;
    margin: 5px;
    height: 150px;
    width: 34%;
    overflow: hidden;  
}
/*--------------------*/



    /*firsttextboxes
/*--------------------*/
/*.textbox-xxl {
    color: #d4d3d3;
    margin-left: -50px;
    font-size: 400px;
    grid-column: 1 / 11;
    grid-row: 26 / auto;
    overflow: hidden;
    width: 100%;
}*/

.textbox-lg {
    font-size: 50px;
    grid-column: 6 / 11;
    grid-row: 36 / 40;
}

.textbox-sm {
    font-size: 20px;
    grid-column: 12 / 17;
    grid-row: 36 / 42;
}

.readme {
    font-size: 17px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.textbox-sideway {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 50px;
    grid-column: 19 / 20;
    grid-row:  44 / 66;
}

.textbox-journey {
    grid-column: 11 / 15;
    grid-row:  52 / 70;
    font-size: large;
}
/*--------------------*/

    /*moreboxes
/*--------------------*/
.greybox-sq {
    background-color: #dddddd;
    grid-column: 2 / 10;
    grid-row:  50 / 80;
}

.doublegrey {
    grid-column: 16 / 20;
    grid-row:  79 / 104;
}

.doublegrey-light{
    background-color: #dddddd;
    grid-column: 4 / 21;
    grid-row: 3 / 25;
}

.doublegrey-dark{
    background-color: #808080;
    grid-column: 1 / 18;
    grid-row: 1 / 23;
}

.greybox-sq-sm {
    background-color: #dddddd;
    grid-column: 10 / 15;
    grid-row:  90 / 121;
}

.textbox-winter {
    grid-column: 3 / 8;
    grid-row:  95 / 119;
    font-size: large;
}

/*-----end of easiertravels-----*/


/*----start of adventure & action -----*/
.adventure {
    text-align: center;
    font-size: 2em;
    grid-column: 1 / 21;
    grid-row: 3 / 6;
}

.doublegrey-lg {
    grid-column: 1 / 10;
    grid-row:  12 / 50;
}

.doublegrey-light-lg {
    background-color: #dddddd;
    grid-column: 1 / 17;
    grid-row: 1 / 22;
}

.doublegrey-dark-lg {
    background-color: #808080;
    grid-column: 5 / 21;
    grid-row: 4 / 25;
}

.textbox-travel-faster {
    grid-column: 12 / 17;
    grid-row:  17 / 30;
    font-size: large;
}

.doublegrey-sw {
    grid-column: 11 / 21;
    grid-row:  45 / 75;
}

.doublegrey-light-sw {
    background-color: #dddddd;
    grid-column: 5 / 21;
    grid-row: 4 / 25;
}

.doublegrey-dark-sw {
    background-color: #808080;
    grid-column: 1 / 17;
    grid-row: 1 / 22;
}

.textbox-travel-mystery {
    grid-column: 3 / 9;
    grid-row:  55 / 85;
    font-size: large;
}

.video-box {
    grid-column: 1 / 14;
    grid-row:  85 / 115; 
}

#video1 {
    width: 100%;
}

.radio-box {
    grid-column: 14 / 18;
    grid-row:  87 / 115; 
    line-height: 1em;
}

.greybox-sq-lg {
    background-color: #dddddd;
    grid-column: 10 / 19;
    grid-row:  100 / 130;
}

.textbox-fancy {
    grid-column: 2 / 8;
    grid-row:  120 / 125;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.6;
}
/*-------- end of adventure n action------- */

/* -------start of bold riders-------- */
.bold-riders {
    text-align: center;
    font-size: 2em;
    grid-column: 1 / 21;
    grid-row: 3 / 6;
}

.doublegrey-last {
    grid-column: 3 / 9;
    grid-row:  10 / 45;
}

.doublegrey-light-last {
    background-color: #dddddd;
    grid-column: 1 / 18;
    grid-row: 4 / 25;
}

.doublegrey-dark-last {
    background-color: #808080;
    grid-column: 5 / 21;
    grid-row: 1 / 22;
}

.greybox-last {
    background-color: #dddddd;
    grid-column: 11 / 19;
    grid-row:  17 / 65;
}

.textbox-hillstation {
    grid-column: 2 / 7;
    grid-row:  48 / 70;
    line-height: 1.6;
}

.background-pre-footer {
    grid-column: 1 / 21;
    grid-row:  70 / 80;
    background-image: url(https://www.subpng.com/png-de5zbw/);
}
/* ----- end of bold riders ----- */

/* ------ start of footer ------ */
.footer {
    background-color: #3b3b3b;
    display: flex;
    box-sizing: border-box;
    width: 100%;
}
 .footer-text {
    margin: 0;
    padding-top: 5em;
    padding-bottom: 5em;
    list-style-type: none;
    width: 100%;
 }

.footer-text li{
    color: #adadad;
    text-decoration: none;
    display: block;
}

.footer-text h3 {
    font-size: 1.6em;
    padding: 0;
    margin-top: 0;
}

.footer-text li a {
    /* text-align: center; */
    color: #adadad;
    text-decoration: none;
    /* line-height: 2em;  */
}

.footer-nav {
    padding-left: 50%;
    line-height: 2em;
}

 .footer-nav:hover {
     font-weight: bold;
}

#email {
    width: 100%;
    height: 40px;
    background-color: #3b3b3b;
    border: 1px solid #adadad;
    color: #adadad;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 2em;
}

#submit-button {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 27px;
    margin-left: -60px;
    width: 2em;
    text-align: center;
}

.copyright p {
    text-align: center;
    justify-content: center;
}

/*----- "loaned" buttons -----*/

.fa {
    padding: 10px;
    font-size: 15px;
    width:10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
    border: 1px solid #adadad;
  }
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram:hover {
    background: #125688;
    color: white;
  }